<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="register()">
    <label>
        First name
        <input type="text" formControlName="firstName">
    </label>

    <label>
        Last name
        <input type="text" formControlName="lastName">
    </label>

    <label>
        Username
        <input type="email" formControlName="username">
    </label>

    <label>
        Password
        <input type="password" formControlName="password">
    </label>

    <button [disabled]="!registerForm.valid" type="submit">
        Register
    </button>
</form>